---
import CVLayout from "../layouts/CVLayout.astro";
import { datosDesarrollador } from "../layouts/CVLayout.astro";
---

<CVLayout title="CV-ATS">
  <div id="cv-content" class="max-w-4xl mx-auto py-4 px-8">
    <section class="mb-6">
      <h1 class="font-bold mb-4 text-3xl text-center">{datosDesarrollador.nombre}</h1>
      <div class="flex justify-between text-gray-600 font-semibold">
        <a
          href={`mailto:${datosDesarrollador.email}`}
          target="_blank"
          rel="noopener noreferrer">Email: {datosDesarrollador.email}</a
        >
        <p class="">Ubicación: {datosDesarrollador.direccion}</p>
      </div>

      <div class="flex justify-between text-gray-600 font-semibold">
        <a
          href={`https://api.whatsapp.com/send/?phone=${datosDesarrollador.telefono}&text=Hola&type=phone_number&app_absent=0`}
          target="_blank"
          rel="noopener noreferrer">Contacto: {datosDesarrollador.telefono}</a>
        

        {

        }
        <a href={datosDesarrollador.link} target="_blank" rel="noopener noreferrer"
        >Portafolio: {datosDesarrollador.link}</a
        >
      </div>
    </section>

    <section class="mt-4">
      <h2 class="text-xl font-semibold">Resumen</h2>
      <p class="mt-2 text-gray-700">{datosDesarrollador.resumen}</p>
    </section>

    <section class="mt-4">
      <h2 class="text-xl font-semibold">Experiencia</h2>
      <ul class="list-disc pl-5 mt-2">
        {
          datosDesarrollador.experiencia.map((exp) => (
            <li class="mb-2">
              <span class="flex justify-between">
                <span>
                  <strong>{exp.title}</strong>, ({exp.empresa})
                </span>{" "}
                <span class="text-sm text-gray-500">| {exp.date}</span>{" "}
              </span>
              <p class="text-gray-700">{exp.description}</p>
            </li>
          ))
        }
      </ul>
    </section>

    <section class="mt-4">
      <h2 class="text-xl font-semibold">Formación académica</h2>
      <ul class="list-disc pl-5 mt-2">
        {
          datosDesarrollador.formacion.map((edu) => (
            <li class="mb-2">
              <span class="flex justify-between">
                <strong>{edu.title}</strong>{" "}
                <span class="text-sm text-gray-500">| {edu.date}</span>{" "}
              </span>
              <p class="text-gray-700">{edu.description}</p>
            </li>
          ))
        }
      </ul>
    </section>

    <section class="mt-4">
      <h2 class="text-xl font-semibold">Aptitudes</h2>
      <ul class="list-disc pl-5 mt-2 grid grid-cols-2">
        {datosDesarrollador.aptitudes.map((apt) => <li class="text-gray-700">{apt}</li>)}
      </ul>
    </section>

    {
      datosDesarrollador.presentacion && (
        <section class="mt-4">
          <h2 class="text-xl font-semibold">Más sobre mí</h2>
          <p class="mt-2 text-gray-700">{datosDesarrollador.presentacion}</p>
        </section>
      )
    }
  </div>
</CVLayout>

<style>
  body {
    font-family: none;
  }
</style>
