---
import ExperienceItemCV from "../components/ExperienceItemCV.astro";
import avatar from "/public/assets/images/fotoCV.png";
import CVLayout from "../layouts/CVLayout.astro";
import { datosDesarrollador } from "../layouts/CVLayout.astro";
---

<CVLayout title="CV">
  <div id="cv-content" class="grid grid-cols-3 gap-6 mx-auto py-4 px-8 max-w-4xl">
    <section class="col-span-2 flex flex-col gap-2">
      <h1 class="text-3xl font-bold">{datosDesarrollador.nombre}</h1>
      <section class="">
        <h2 class="text-lg text-indigo-600 font-semibold">Resumen</h2>
        <p>{datosDesarrollador.resumen}</p>
      </section>

      <h2 class="text-lg text-indigo-600 font-semibold">Experiencia</h2>
      <section class="relative border-s border-gray-400">
        <ul class="pl-5">
          {
            datosDesarrollador.experiencia.map((exp) => (
              <ExperienceItemCV {...exp} />
            ))
          }
        </ul>
      </section>

      <h2 class="text-lg text-indigo-600 font-semibold">
        Formación académica
      </h2>
      <section class="relative border-s border-gray-400">
        <ul class="pl-5">
          {
            datosDesarrollador.formacion.map((edu) => (
              <ExperienceItemCV {...edu} />
            ))
          }
        </ul>
      </section>
    </section>

    <section class="col-span-1">
      <img
        src={avatar.src}
        alt="Foto"
        class="size-44 rounded-full bg-gray-400 mx-auto"
      />
      <header
        class="flex flex-wrap items-center border p-3 border-gray-300 relative mt-4"
      >
        <div class="flex-1 text-xs">
          <h2 class="text-lg text-indigo-600 font-semibold">Contacto</h2>
          <p class="text-gray-600 flex flex-nowrap gap-1 items-center text-sm">
            <i class="bx bxs-phone"></i>
            <a
              href={`https://api.whatsapp.com/send/?phone=${datosDesarrollador.telefono}&text=Hola&type=phone_number&app_absent=0`}
              target="_blank"
              rel="noopener noreferrer">{datosDesarrollador.telefono}</a
            >
          </p>
          <p class="text-gray-600 flex flex-nowrap gap-1 items-center text-sm">
            <i class="bx bxs-envelope"></i>
            <a
              href={`mailto:${datosDesarrollador.email}`}
              target="_blank"
              rel="noopener noreferrer">{datosDesarrollador.email}</a
            >
          </p>
          <p class="text-gray-600 flex flex-nowrap gap-1 items-center text-sm">
            <i class="bx bxs-map"></i>
            {datosDesarrollador.direccion}
          </p>

          {
            datosDesarrollador.link && (
              <p class="text-gray-600 flex flex-nowrap gap-1 items-center text-sm">
                <i class="bx bx-link" />
                <a
                  href={datosDesarrollador.link}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Portafolio
                </a>
              </p>
            )
          }
        </div>
      </header>

      <section class="mt-4 border p-3 border-gray-300">
        <h2 class="text-lg text-indigo-600 font-semibold">Aptitudes</h2>
        <ul class="list-disc pl-5 text-sm text-gray-600">
          {datosDesarrollador.aptitudes.map((apt) => <li>{apt}</li>)}
        </ul>
      </section>
    </section>

    {
      datosDesarrollador.presentacion && (
        <section class="col-span-3 -mt-4">
          <h2 class="text-lg text-indigo-600 font-semibold">Más sobre mí</h2>
          <p>{datosDesarrollador.presentacion}</p>
        </section>
      )
    }
  </div>
</CVLayout>
