---
import ExperienceItemCV from "../components/ExperienceItemCV.astro";
import avatar from "/public/assets/images/yo.png";
import CVLayout from "../layouts/CVLayout.astro";
import { datos } from "../layouts/CVLayout.astro";
---

<CVLayout title="CV">
  <div id="cv-content" class="grid grid-cols-3 gap-6 mx-auto p-8 max-w-4xl">
    <section class="col-span-2">
      <h1 class="text-3xl font-bold">{datos.nombre}</h1>
      <section class="mt-4">
        <h2 class="text-lg text-indigo-600 font-semibold">Resumen</h2>
        <p>{datos.resumen}</p>
      </section>

      <h2 class="text-lg text-indigo-600 font-semibold mt-4">Experiencia</h2>
      <section class="relative border-s border-gray-400">
        <ul class="pl-5">
          {datos.experiencia.map((exp) => <ExperienceItemCV {...exp} />)}
        </ul>
      </section>

      <h2 class="text-lg mt-4 text-indigo-600 font-semibold">
        Formación académica
      </h2>
      <section class="relative border-s border-gray-400">
        <ul class="pl-5">
          {datos.formacion.map((edu) => <ExperienceItemCV {...edu} />)}
        </ul>
      </section>
    </section>

    <section class="col-span-1">
      <header
        class="flex flex-wrap items-center border p-3 border-gray-300 relative mt-20"
      >
        <img
          src={avatar.src}
          alt="Foto"
          class="size-28 rounded-full ml-4 absolute -top-20 right-5"
        />
        <div class="flex-1 text-xs">
          <h2 class="text-lg text-indigo-600 font-semibold">Contacto</h2>
          <p class="text-gray-600 flex flex-nowrap gap-1 items-center text-sm">
            <i class="bx bxs-phone"></i>
            <a
              href={`https://api.whatsapp.com/send/?phone=${datos.telefono}&text=Hola&type=phone_number&app_absent=0`}
              target="_blank"
              rel="noopener noreferrer">{datos.telefono}</a
            >
          </p>
          <p class="text-gray-600 flex flex-nowrap gap-1 items-center text-sm">
            <i class="bx bxs-envelope"></i>
            <a
              href={`mailto:${datos.email}`}
              target="_blank"
              rel="noopener noreferrer">{datos.email}</a
            >
          </p>
          <p class="text-gray-600 flex flex-nowrap gap-1 items-center text-sm">
            <i class="bx bxs-map"></i>
            {datos.direccion}
          </p>

          {
            datos.link && (
            <p class="text-gray-600 flex flex-nowrap gap-1 items-center text-sm">
            <i class="bx bx-link"></i>
            <a href={datos.link} target="_blank" rel="noopener noreferrer"
              >Portafolio</a
            >
          </p>)
          }
          
        </div>
      </header>

      <section class="mt-4 border p-3 border-gray-300">
        <h2 class="text-lg text-indigo-600 font-semibold">Aptitudes</h2>
        <ul class="list-disc pl-5 text-sm text-gray-600">
          {datos.aptitudes.map((apt) => <li>{apt}</li>)}
        </ul>
      </section>
    </section>

    {
      datos.presentacion && (
        <section class="col-span-3 -mt-4">
          <h2 class="text-lg text-indigo-600 font-semibold">Más sobre mí</h2>
          <p>{datos.presentacion}</p>
        </section>
      )
    }
  </div>
</CVLayout>


