---
import Pill from "./Pill.astro";

const { link, image, title, description, tags, github } = Astro.props;

---

<article class="card-proyecto hover:border-indigo-400/70 transition bg-black/20 dark:bg-white/40 backdrop-blur-sm flex flex-wrap items-center gap-4 justify-between border border-gray-700/50 dark:border-gray-200 rounded-xl py-4 px-3 mb-4">
    <a
      href={link}
      class="hover:scale-105 transition-all ease-in-out duration-500 mx-auto"
      target="_blank"
    >
      <img
        class="rounded aspect-video w-[22rem] "
        src={image}
        alt=""
      />
    </a>
    <section class="flex flex-col gap-2 justify-center w-full md:w-[45%] text-pretty">
      <h3 class="font-semibold text-2xl text-indigo-300 dark:text-indigo-400 mt-3 sm:mt-0">
        <a href={link} class="" target="_blank">
          {title}
        </a>
      </h3>
      <ul class="flex gap-2">
        {tags.map((tag) => (
          <li
            class={`flex gap-1 items-center rounded-full text-xs py-1 px-2 ${tag.class}`}
          >
            <tag.icon class="size-4" />
            {tag.name}
          </li>
        ))}
      </ul>
      <p>{description}</p>
      <span class="flex gap-3 ">
        <Pill href={link}>
          <i class="bx bx-link-alt" /> Visitar
        </Pill>
        <Pill href={github}>
          <i class="bx bxl-github" /> Código
        </Pill>
      </span>
    </section>
  </article>