---
import Pill from "./Pill.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import LaravelIcon from "./icons/LaravelIcon.astro";
import LivewireIcon from "./icons/LivewireIcon.astro";
import BootstrapIcon from "./icons/BootstrapIcon.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import JsIcon from "./icons/JsIcon.astro";
import HTMLIcon from "./icons/HTMLIcon.astro";
import CSSIcon from "./icons/CSSIcon.astro";

const TAGS = {
  ASTRO: {
    name: "Astro",
    icon: AstroIcon,
    class: "bg-orange-800 text-white",
  },

  BOOTSTRAP: {
    name: "Bootstrap",
    icon: BootstrapIcon,
    class: "bg-indigo-950 text-white",
  },

  CSS: {
    name: "CSS",
    icon: CSSIcon,
    class: "bg-cyan-500 text-white",
  },

  HTML: {
    name: "HTML",
    icon: HTMLIcon,
    class: "bg-orange-500 text-white",
  },

  JAVASCRIPT: {
    name: "JavaScript",
    icon: JsIcon,
    class: "bg-yellow-500 text-white",
  },

  LARAVEL: {
    name: "Laravel",
    icon: LaravelIcon,
    class: "bg-red-900 text-white",
  },

  LIVEWIRE: {
    name: "Livewire",
    icon: LivewireIcon,
    class: "bg-pink-900 text-white",
  },

  TAILWIND: {
    name: "Tailwind",
    icon: TailwindIcon,
    class: "bg-sky-900 text-white",
  },
};

const PROJECTS = [
  {
    title: "Reto 50 dias | Web Page",
    description:
      "Esta es mi version del reto de 50 miniproyectos utilizando solamente HTML, CSS y JS. Para hacer la web si usé astro y tailwind. ",
    link: "https://reto-50-dias.vercel.app/",
    github: "https://github.com/CristianLeyton/proyectos-reto-50-dias",
    image: "./assets/images/50miniproyectos.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.ASTRO],
  },
  {
    title: "Tareas | Web App",
    description:
      "Una aplicación donde podes administrar tus tareas pendientes, consultar las completadas y organizarlas con un sistema de etiquetas.",
    link: "https://cdl.free.nf/",
    github: "https://github.com/CristianLeyton/app-tareas",
    image: "./assets/images/tareas.png",
    tags: [TAGS.LARAVEL, TAGS.LIVEWIRE, TAGS.TAILWIND],
  },
  {
    title: "Esmarty | Ecommerce",
    description:
      "Sitio de ventas de productos electrónicos. Este e-commerce fue el proyecto final de mi técnicatura en analisis de sistemas. ",
    link: "https://esmarty.free.nf/",
    github: "https://github.com/AJazure/esmarty-webapp-ecommerce",
    image: "/assets/images/esmarty.png",
    tags: [TAGS.LARAVEL, TAGS.BOOTSTRAP],
  },
  {
    title: "Estetica | Landing Page",
    description:
      "Página web para una estetica, es una landing page simple, con cinco secciones. Se supone que la hice para una estetica de mi ciudad, pero al final no. ",
    link: "https://page-cosmetica.vercel.app/",
    github: "https://github.com/CristianLeyton/landing-cosmetica",
    image: "/assets/images/estetica.png",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
];
---

{
  PROJECTS.map((project) => (
    <article class="card-proyecto flex flex-wrap items-center gap-4 justify-between border border-gray-700/50 rounded-xl py-4 px-3 mb-4">
      <a
        href={project.link}
        class="hover:scale-105 transition-all ease-in-out duration-500 mx-auto"
        target="_blank"
      >
        <img
          class="rounded aspect-video w-[22rem] "
          src={project.image}
          alt=""
        />
      </a>
      <section class="flex flex-col gap-2 justify-center w-full md:w-[45%] text-pretty">
        <h3 class="font-semibold text-2xl text-indigo-300 mt-3 sm:mt-0">
          <a href={project.link} class="" target="_blank">
            {project.title}
          </a>
        </h3>
        <ul class="flex gap-2">
          {project.tags.map((tag) => (
            <li
              class={`flex gap-1 items-center rounded-full text-xs py-1 px-2 ${tag.class}`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </li>
          ))}
        </ul>
        <p>{project.description}</p>
        <span class="flex gap-3 ">
          <Pill href={project.link}>
            <i class="bx bx-link-alt" /> Visitar
          </Pill>
          <Pill href={project.github}>
            <i class="bx bxl-github" /> Código
          </Pill>
        </span>
      </section>
    </article>
  ))
}

<style is:global>
  #proyectos {
    background:
      linear-gradient(135deg, #818df808 25%, transparent 25%) -50px 0,
      linear-gradient(225deg, #818df808 25%, transparent 25%) -50px 0,
      linear-gradient(315deg, #818df808 25%, transparent 25%),
      linear-gradient(45deg, #818df808 25%, transparent 25%);
    background-size: 2em 2em;
    background-color: transparent;
  }

  .card-proyecto {
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(3px);
  }
</style>
